.new_app{
background-image: url("./Zomato/ques1.png");

min-height: 98.5vh;
border: .4rem solid #39445a93;

margin: .5rem;
top:0;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 cursor: pointer;


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}

.hed{
  top: 0;

}
.divider{
  width: 100%;
background-color: black;
}
.footerr{

text-align: center;
margin-bottom: 10;


 
}
.content {
  display: flex;
  justify-content: space-around;
}

.setttings {
  width: 45%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-weight: 300;
}

.content svg {
  width: 55%;
  align-self: center;
  margin-top: -7rem;
 
}

@media(max-width:600px){
  .content svg{
    width: 85%;
    padding: 0;
    margin-top: -10rem;
   
   
  }
  .content{
    flex-direction: column-reverse;
    align-items: center;
  }
  .settting{
    min-width: 100vw;
    margin-top: -15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-family: "Poppins", sans-serif;
  }
  .setting_input{
    min-width: 80vw;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  
  }
 
}
@media  (min-width: 601px) and (max-width: 800px)  {
  .content svg{
    width: 85%;
    padding: 0;
    margin-top: -10rem;
   
   
  }
  .content{
    flex-direction: column-reverse;
    align-items: center;
  }
  .settting{
    min-width: 100vw;
    margin-top: -15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-family: "Poppins", sans-serif;
  }
  .setting_input{
    min-width: 80vw;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  
  }

}

#gfd{
  border: .8px solid grey;
}

.setting_input{
 

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex:.8;

  padding-top: 20px;
  justify-content: space-evenly;
  width: 40vw;
  padding: 20px;


}

.quiz{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.first_span{

  font-size: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px black;
 
}
.quizInfo{

  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0px 2rem;

}
.question_head{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.question_head{
  display: flex;
  flex-direction: column;
  margin: 0px 1rem;
  
  margin: 1rem;

 


}
.optionss{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.singleOption{
  width: 46%;
  height: 50px;
  padding: 15px ;
  margin: 10px;
  box-shadow:  0px 2px 4px black;

}
.question_maindiv{

  font-size: 2rem;
}
@media(max-width:614px){
  .singleOption{
    width: 100%;
  }
  .question_maindiv{

    font-size: 1.5rem;

  }
  .div2{
    font-size: 2rem;
  display: flex;
  margin-bottom: 3rem;
  }
}
.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}
.controls{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.divs{
 width: auto;
}
